body {
  background-color: #232323;
}

h1 {
  color: white;
}

#stripe {
  background: white;
  height: 30px;
  text-align: center;
}

#container {
  max-width: 600px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
}

.square {
  display: flex;
  flex-basis: 30%;
  padding-bottom: 30%;
  margin: 1.66%;
}
