body {
  background-color: #232323;
}
span {
  color: white;
}
h1 {
  color: white;
}

#container {
  max-width: 600px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
}

.square {
  display: flex;
  flex-basis: 30%;
  padding-bottom: 30%;
  background: purple;
  margin: 1.66%;
}
